# Configuration PayDunya - NOUVELLES CLÉS
PAYDUNYA_MASTER_KEY=SnKvX6pq-TgQ9-Tnio-DG20-MRiFv2rcWAXQ
PAYDUNYA_PRIVATE_KEY=test_private_XOOKYVeOoSyQnIsj0pPpM7vUn87
PAYDUNYA_PUBLIC_KEY=test_public_PmPryCuut290ewlppSLt0nrEWj6
PAYDUNYA_TOKEN=gggIKDJo5dQUwSvrQIvu
PAYDUNYA_MODE=sandbox
SERVER_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
STORE_NAME=Votre E-commerce